.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.App-nav {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.App-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #AAA;
  transition: 300ms;
  padding: 1em;
  font-size: 1.05rem;
}

.App-nav a:hover {
  color: #555;
}

.App-nav a.active {
  border-bottom: 1px solid purple;
  color: purple;
}

h1 span {
  color: purple;
}

.app-body {
  min-height: 87vh;
  display: flex;
}

.vertical-side-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: vertical-lr;
  padding: .5rem;
  border-right: 1px solid #ccc;
  font-weight: bold;
  max-height: 87vh;
}

.vertical-side-title {
  flex: 2;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
}

.vertical-side-bottom {
  color: #800080;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
}
